<?xml version="1.0" encoding="utf-8"?>
<!-- 
  remicsdev
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <!--  
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" >
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  -->
  <appSettings>
    <!--  APPLICATION VARIABLES  SET IN GLOBAL.ASAX.CS  -->
    <!--  flag to indicate if site is active  -->
    <!--  if 2, present message that site is closed for maintenance  -->
    <!--  if 1, invoke login.aspx to login normally  -->
    <!--  if 0, invoke login2.aspx to re-route to alternate site  -->
    <add key="Site_active" value="1" />
    <!--  Membership Password Expiry days 2:36 PM 2011-12-28 -->
    <add key="PwdExpiry" value="100" />
    <!--  Membership Password Expiry Warning days -->
    <add key="PwdExpiryWarning" value="15" />
    <!--  ODBC Windows Login ODBC dataset name  -->
    <add key="ODBC_DSN" value="remicsdev" />
    <!--  ODBC SQL Login dataset name  -->
    <add key="SQL_INSTANCE" value="EC2AMAZ-9DKDM82\REMICS_DEV" />
    <!--  name of IIS server server  -->
	<add key="IISServerName" value="\\IIS-REMICS-PROD\REMICS-" />
    <!--  Windows drive name for this web.configs site  -->
    <add key="Web_drive" value="D:" />
    <!--  Server name for remote production site  -->
    <add key="Remote_server" value="WIN-V9206VTNL3J" />
    <!--  Server name for disaster recovery site  -->
    <add key="DR_server" value="FCSADR4" />
    <!--  Windows drive name for remote production site  -->
    <add key="Remote_drive" value="D:" />
    <!--  Type of current site  (remicsdev/remicstest)-->
    <add key="SiteType" value="remicsdev" />
    <!--  Heading on Tlogin.aspx -->
    <add key="LoginTitle" value="Please Login To ReMics Testing" />
    <!--  directory for batch programs  -->
    <add key="ProgDir" value="\develbat\" />
    <!--  URL for the development site  -->
    <add key="DevUrl" value="http://remicsdev.cloudmicsdev.ca/" />
    <!--  URL for the test site  -->
    <add key="TestUrl" value="http://remicstest.cloudmicsdev.ca/" />
    <!--  URL for the production site on same machine  -->
    <add key="ProdUrl" value="http://remicsproddev.cloudmicsdev.ca/" />
    <!--  URL for production site on remote machine  -->
    <add key="ProdUrl2" value="https://micsprod.cloudmicsdev.ca/" />
    <!--  URL for import site on local machine  -->
    <add key="ImportUrl" value="http://micsimport.cloudmicsdev.ca/" />
    <!--  Root URL for help and info files  -->
    <add key="HelpUrl" value="http://remicsdev.cloudmicsdev.ca" />
    <!--  Max records to be saved or reported by TS datasearch   -->
    <add key="Max_TS_Ds" value="9500" />
    <!--  Max records to be saved or reported by ES datasearch   -->
    <add key="Max_ES_Ds" value="9500" />
    <!-- Users allowed to run sql queries and Sql to Flat -->
    <add key="SqlUsers" value="fwmda,fwoad,fwrse,hulme1,venn1" />
    <!-- Users allowed to run Telerik treeviews -->
    <add key="TelerikUsers" value="fwmda,fwoad,fwrse,hulme1,venn1" />
    <!-- Active Directory domain name for login -->
    <add key="ADDomain" value="CLOUDMICSDEV" />
    <!-- Active Directory mgr name for login -->
    <add key="ADUser" value="cloudmicsdev\\FCSAAccountOperator" />
    <!-- Active Directory mgr key for login -->
    <add key="ADKey" value="XXXXxxxx1!" />
    <!-- ADMembership applicationname -->
    <add key="ADapplicationname" value="wwwroot" />
    <!--  SESSION VARIABLES  (LEFT AS SESSION VARS FOR HISTORICAL REASONS -->
    <!--  SET IN LOGINVALIDATE.ASPX.CS)  -->
    <!--  Name of database used by this site  -->
    <add key="DBName" value="remicsdev" />
    <!--  URL of current site  -->
    <add key="SiteName" value="http://remicsdev.cloudmicsdev.ca/mics/" />
    <!--  URL of current site  -->
    <add key="SiteNameLocal" value="http://remicsdev.cloudmicsdev.ca/mics/" />
    <!--  URL of remote site  -->
    <add key="SiteNameRemote" value="http://remicstest.cloudmicsdev.ca/mics/" />
    <!--  Domain name of current site (for cookies) -->
    <add key="SiteDomain" value="remicsdev.cloudmicsdev.ca" />
    <!--  Path of current site (for cookies)  -->
    <add key="SitePath" value="/" />
    <!--  Ports for current site (for cookies)  -->
    <add key="SitePorts" value="80" />
    <!-- sequence for menu logging events -->
    <add key="MenuLogSeq" value="1" />
    <add key="Telerik.WebControls.EditorExamples.ItemHandler" value="~/Handler.ashx" />
    <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
    <add key="owin:AutomaticAppStartup" value="false" />
  </appSettings>
  <connectionStrings>
    <remove name="ADConnectionString" />
    <add name="ADConnectionString" connectionString="LDAP://WIN-1JI6S8U2NQ9.cloudmicsdev.ca/CN=Users,DC=cloudmicsdev,DC=ca" />
  </connectionStrings>
  <!-- THIS SECTION ADDED TO SUPPORT LARGE JSON TRANSFERS -->
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <pages enableSessionState="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.8">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <!-- stuff for web service calls -->
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <!--
      The <customErrors> section enables configuration 
      of what to do if/when an unhandled error occurs 
      during the execution of a request. Specifically, 
      it enables developers to configure html error pages 
      to be displayed in place of a error stack trace.

    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    -->
    <httpHandlers>
      <!--
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
      -->
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
    <!-- enable in-process session state for app -->
    <sessionState mode="InProc" cookieless="false" />
    <authentication mode="Forms">
      <forms loginUrl="Tlogin.aspx" name=".ADAuthCookie" slidingExpiration="true" timeout="10" />
    </authentication>
    <authorization>
            <deny users="?" />
    </authorization>
    <membership defaultProvider="MyADMembershipProvider">
      <providers>
        <clear />
        <!-- Add a customized ADMembershipProvider -->
        <add name="MyADMembershipProvider" type="System.Web.Security.ActiveDirectoryMembershipProvider,     System.Web, Version=2.0.0.0,     Culture=neutral,      PublicKeyToken=b03f5f7f11d50a3a" applicationName="wwwroot" connectionStringName="ADConnectionString" connectionUsername="cloudmicsdev\FCSAAccountOperator" connectionPassword="XXXXxxxx1!" attributeMapUsername="sAMAccountName" />
      </providers>
    </membership>
    <!--    The <customErrors> section enables configuration 
              of what to do if/when an unhandled error occurs 
              during the execution of a request. Specifically, 
              it enables developers to configure html error pages 
              to be displayed in place of a error stack trace.

    
          <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
              <error statusCode="403" redirect="NoAccess.htm" />
              <error statusCode="404" redirect="FileNotFound.htm" />
          </customErrors>
    -->
    <customErrors mode="Off" />
    <xhtmlConformance mode="Transitional" />
    <identity impersonate="true" />
    <!-- THIS ENTRY ADDED TO SUPPORT LARGE FILE TRANSFERS -->
    <httpRuntime maxRequestLength="1048576" requestPathInvalidCharacters="" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <!-- THIS ENTRY REPLACED 2022/01/25 BY INFO BELOW WITHmaxQueryString ADDED -->
        <!-- <requestLimits maxAllowedContentLength="1073741824" /> -->
        <!-- maxAllowedContentLength ADDED TO SUPPORT LARGE FILE TRANSFERS -->
        <!-- maxQueryString ADDED 2022/01/25 TO SUPPORT LARGE LARGER NUMBER OF PDFS FOR 'SAVE TO EXISTING FILE OPTION' IN TS DATASEARCH -->
        <requestLimits maxQueryString="4096" maxAllowedContentLength="1073741824" />
        <!-- THIS ENTRY ADDED TO ALLOW PROGRAMS IN prod\bin TO RUN-->
        <hiddenSegments>
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <modules>
      <remove name="RadUploadModule" />
      <remove name="RadCompression" />
    </modules>
    <handlers>
      <remove name="ChartImage_axd" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
    </handlers>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Tlogin.aspx" />
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ComboBoxWcfServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="TreeViewWcfServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="MenuWcfServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="GridWcfServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="SchedulerWcfServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="XmlHttpPanelWcfBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="XmlHttpPanelWcfBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <!-->
    <services>
      <service behaviorConfiguration="XmlHttpPanelWcfBehavior" name="XmlHttpPanelWcfService">
        <endpoint address="" binding="webHttpBinding" contract="IXmlHttpPanelWcfService" behaviorConfiguration="XmlHttpPanelWcfBehavior" />
      </service>
      <service name="ComboBoxWcfService">
        <endpoint address="" behaviorConfiguration="ComboBoxWcfServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="ComboBoxWcfService" />
      </service>
      <service name="TreeViewWcfService">
        <endpoint address="" behaviorConfiguration="TreeViewWcfServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="TreeViewWcfService" />
      </service>
      <service name="MenuWcfService">
        <endpoint address="" behaviorConfiguration="MenuWcfServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="MenuWcfService" />
      </service>
      <service name="GridWcfService">
        <endpoint address="" behaviorConfiguration="GridWcfServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="GridWcfService" />
      </service>
      <service name="GridMasterDetailsService">
        <endpoint address="" behaviorConfiguration="GridWcfServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="GridMasterDetailsService" />
      </service>
      <service name="SchedulerWcfService">
        <endpoint address="" behaviorConfiguration="SchedulerWcfServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="SchedulerWcfService" />
      </service>
    </services>
    -->
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpEndpointBasic" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="524288" maxBufferPoolSize="524288" maxReceivedMessageSize="524288" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="524288" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport realm="" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="webHttpBinding">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://api.hisoftware.com/Service.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpEndpointBasic" contract="BasicServiceReference.Basic" name="basicHttpEndpointBasic" />
      <endpoint binding="customBinding" bindingConfiguration="webHttpBinding" contract="BasicServiceReference.Basic" name="webHttpBinding" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>