<div class="classic-panel">
  <h2 class="o" align="center">The ACCOUNT password MUST be changed every 90 days.</h2>
  <h3 class="o" align="center"><b>Change Password for ACCOUNT ID: <span id="pwd-micsid"></span></b></h3>
  <div id="pwd-status" class="classic-status" align="center"></div>
  <div align="center">
    <label><input type="radio" name="pwd-mask" id="pwd-masked" checked> Mask passwords</label>
    <label><input type="radio" name="pwd-mask" id="pwd-unmasked"> Display passwords</label>
  </div>
  <br>
  <table align="center" id="pwd-form-masked">
    <tr>
      <td class="k">Current Password</td>
      <td class="by"><input id="pwd-old-m" type="password" tabindex="1" autocomplete="current-password"></td>
    </tr>
    <tr>
      <td class="k">New Password</td>
      <td class="by"><input id="pwd-new1-m" type="password" tabindex="2" autocomplete="new-password"></td>
    </tr>
    <tr>
      <td class="k">Repeat New Password</td>
      <td class="by"><input id="pwd-new2-m" type="password" tabindex="3" autocomplete="new-password"></td>
    </tr>
  </table>
  <table align="center" id="pwd-form-plain" style="display:none">
    <tr>
      <td class="k">Current Password</td>
      <td class="by"><input id="pwd-old" type="text" tabindex="1" autocomplete="current-password"></td>
    </tr>
    <tr>
      <td class="k">New Password</td>
      <td class="by"><input id="pwd-new1" type="text" tabindex="2" autocomplete="new-password"></td>
    </tr>
    <tr>
      <td class="k">Repeat New Password</td>
      <td class="by"><input id="pwd-new2" type="text" tabindex="3" autocomplete="new-password"></td>
    </tr>
  </table>
  <br>
  <table align="center">
    <tr>
      <td class="o"><button type="button" class="bt" id="pwd-submit" tabindex="7" accesskey="S" title="Press ALT + S to Submit">Submit</button></td>
      <td><button type="button" class="bt" id="pwd-cancel" tabindex="8" accesskey="C" title="Press ALT + C to Cancel">Cancel/Back</button></td>
      <td><button type="button" class="bt" id="pwd-help" tabindex="9" accesskey="H" title="Press ALT + H for Help">Help</button></td>
    </tr>
  </table>
  <p class="b" align="center" style="max-width:36rem;margin:1rem auto;">
    Passwords must be at least eight characters. After a successful change you will be logged off and must sign in again with the new password.
  </p>
</div>
