<div class="classic-pane b">
  <h3 align="center">Fee Calculation Reports</h3>
  <p class="classic-hint" align="center">Opens classic fee report parameter pages (same session).</p>
  <table align="center"><tr>
    <td><input type="button" class="bt" id="fee-ts-det" value="TS Fee Detail"></td>
    <td><input type="button" class="bt" id="fee-ts-sum" value="TS Fee Summary"></td>
  </tr><tr>
    <td><input type="button" class="bt" id="fee-es-det" value="ES Fee Detail"></td>
    <td><input type="button" class="bt" id="fee-es-sum" value="ES Fee Summary"></td>
  </tr><tr>
    <td colspan="2" align="center"><input type="button" class="bt" id="fee-eqpt" value="Equipment Fees Report"></td>
  </tr></table>
</div>
