<div class="classic-pane b">
  <h3 align="center">Session Timeout</h3>
  <div id="ses-to-status" class="classic-status" align="center"></div>
  <table align="center">
    <tr>
      <td class="c12">Session Timeout</td>
      <td>
        <input type="text" id="ses-to-mins" class="im" size="6" maxlength="4" title="Timeout minutes">
      </td>
      <td class="o">minutes</td>
    </tr>
  </table>
  <br>
  <table align="center">
    <tr>
      <td><input class="bt" type="button" id="ses-to-save" value="Save" accesskey="S" title="Press ALT + S to Save"></td>
      <td><input class="bt" type="button" id="ses-to-default" value="Default" accesskey="D" title="Press ALT + D for Default (20 minutes)"></td>
      <td><input class="bt" type="button" id="ses-to-cancel" value="Cancel" accesskey="C" title="Press ALT + C to Cancel"></td>
      <td><input class="bt" type="button" id="ses-to-help" value="Help" accesskey="H" title="Press ALT + H for Help"></td>
    </tr>
  </table>
</div>
