<div class="classic-pane b">
  <h4 align="center" id="tsip-run-heading">FCSA TSIP Run</h4>
  <p align="center">
    Parameter file: <b id="tsip-run-parm"></b>
    <input type="button" class="bt" id="tsip-run-back" value="Cancel" accesskey="C">
  </p>
  <div id="tsip-run-status" class="classic-status" align="center"></div>
  <p class="classic-hint remics-extra-help" align="center">
    Green labels are required. <strong>?</strong> opens a code list. Save the run before you queue Batch TSIP.
  </p>

  <input type="hidden" id="tr-loss-error" value="0">
  <input type="hidden" id="tr-orig-protype" value="T">
  <input type="hidden" id="tr-reports" value="0">

  <table align="center" class="classic-form classic-form-wide" width="90%">
    <tr>
      <td class="m">File Type</td>
      <td class="by">
        <label><input type="radio" name="tr-protype-r" value="T" checked> TS</label>
        <label><input type="radio" name="tr-protype-r" value="E"> ES</label>
        <input type="hidden" id="tr-protype" value="T">
      </td>
      <td class="m">Env File Type</td>
      <td class="by">
        <input id="tr-envtype" class="im" size="10" maxlength="20" value="PDF_TS">
        <input type="button" class="bt" value="?" tabindex="-1" data-lookup="TsipEnvFileType" data-field="tr-envtype">
      </td>
    </tr>
    <tr>
      <td class="m">File Name</td>
      <td class="by">
        <input id="tr-proname" class="im" size="16" maxlength="20">
        <input type="button" class="bt" value="?" tabindex="-1" data-lookup="TsipPdfList" data-field="tr-proname" data-fld2="tr-envtype">
      </td>
      <td class="o">Env File Name</td>
      <td class="by">
        <input id="tr-envname" class="im" size="16" maxlength="20">
        <input type="button" class="bt" value="?" tabindex="-1" data-lookup="TsipEnvFileName" data-field="tr-envname" data-fld2="tr-envtype">
      </td>
    </tr>
    <tr>
      <td class="o">TSORB Calculation</td>
      <td class="by"><input id="tr-tsorbout" class="im" size="2" maxlength="1" value="N"></td>
      <td class="m">Propagation Loss Model</td>
      <td class="by">
        <input id="tr-spherecalc" class="im" size="2" maxlength="1">
        <input type="button" class="bt" value="?" tabindex="-1" data-lookup="TsipLoss" data-field="tr-spherecalc">
      </td>
    </tr>
    <tr>
      <td class="o">ES Arc Step</td>
      <td class="by"><input id="tr-arc" class="im" size="10" readonly></td>
      <td class="m">Max Freq. Separation</td>
      <td class="by"><input id="tr-fsep" class="im" size="10"></td>
    </tr>
    <tr>
      <td class="o">Coord. Distance</td>
      <td class="by"><input id="tr-coordist" class="im" size="10"></td>
      <td class="m">Analysis Option</td>
      <td class="by">
        <input id="tr-analopt" class="im" size="8" maxlength="4" placeholder="BAND">
        <input type="button" class="bt" value="?" tabindex="-1" data-lookup="TsipOption" data-field="tr-analopt">
      </td>
    </tr>
    <tr>
      <td class="o">Required Margin</td>
      <td class="by"><input id="tr-margin" class="im" size="10"></td>
      <td class="m">Channel Status Codes</td>
      <td class="by">
        <input id="tr-chancodes" class="im" size="16">
        <input type="button" class="bt" value="?" tabindex="-1" data-lookup="TsipChanCode" data-field="tr-chancodes">
      </td>
    </tr>
  </table>

  <div align="center"><b>ENVIRONMENT SELECTION CRITERIA AND REPORTS</b></div>
  <table align="center" class="classic-form classic-form-wide" width="90%">
    <tr>
      <td class="m">Country</td>
      <td class="by">
        <input id="tr-country" class="im" size="4" maxlength="4">
        <input type="button" class="bt" value="?" tabindex="-1" data-lookup="TsipCountry" data-field="tr-country">
      </td>
      <td class="o" rowspan="3" valign="top">Codes</td>
      <td class="by" rowspan="3" valign="top">
        <textarea id="tr-codes" name="txtCode" class="im" rows="4" cols="40"></textarea>
        <input type="button" class="bt" id="tr-codes-lookup" value="??" tabindex="-1" data-lookup="TsipCallOper" data-field="tr-codes">
      </td>
    </tr>
    <tr>
      <td class="m">Select Env Sites</td>
      <td class="by">
        <input id="tr-selsites" class="im" size="16">
        <input type="button" class="bt" value="?" tabindex="-1" data-lookup="TsipEnvSites" data-field="tr-selsites">
      </td>
    </tr>
    <tr>
      <td class="rok">TSIP Run Name</td>
      <td class="by"><input id="tr-runname" class="im ik" size="6" maxlength="5"></td>
    </tr>
  </table>

  <div align="center" class="tsip-run-reports-label"><b>Reports</b></div>
  <table align="center" class="classic-form classic-form-wide tsip-run-reports" width="95%">
    <tr>
      <td class="o" width="33%">
        <label class="tsip-rpt-row"><span class="iro">Execution Report</span>
          <input type="checkbox" id="tr-rpt-exec"></label>
      </td>
      <td class="o" width="34%">
        <label class="tsip-rpt-row"><span class="iro">Study Report</span>
          <input type="checkbox" id="tr-rpt-study"></label>
      </td>
      <td class="o" width="33%">
        <label class="tsip-rpt-row"><span class="iro">Station Report</span>
          <input type="checkbox" id="tr-rpt-stat"></label>
      </td>
    </tr>
    <tr>
      <td class="o">
        <label class="tsip-rpt-row"><span class="iro">Case Detail</span>
          <input type="checkbox" id="tr-rpt-detail"></label>
      </td>
      <td class="o">
        <label class="tsip-rpt-row"><span class="iro">Case Summary</span>
          <input type="checkbox" id="tr-rpt-summary"></label>
      </td>
      <td class="o">
        <label class="tsip-rpt-row"><span class="iro">Agg Inter Report</span>
          <input type="checkbox" id="tr-rpt-aggint"></label>
      </td>
    </tr>
    <tr>
      <td class="o">
        <label class="tsip-rpt-row"><span class="iro">OH Loss Only</span>
          <input type="checkbox" id="tr-rpt-ohloss"></label>
      </td>
      <td class="o">
        <label class="tsip-rpt-row"><span class="iro">HiLo Report</span>
          <input type="checkbox" id="tr-rpt-hilo"></label>
        Secs of Latitude:
        <input id="tr-hilosecs" class="im" size="2" maxlength="2" disabled>
      </td>
      <td class="o">
        <label class="tsip-rpt-row"><span class="iro">Agg Inter CSV</span>
          <input type="checkbox" id="tr-rpt-aggcsv"></label>
      </td>
    </tr>
    <tr>
      <td class="o">
        Culling Margin:
        <input id="tr-cullmarg" class="im" size="6">
      </td>
      <td class="o">
        Num chan: <input id="tr-numchan" class="im" size="6">
        &nbsp; Num codes: <input id="tr-numcodes" name="txtNumCodes" class="im iro" size="6" readonly tabindex="-1">
      </td>
      <td class="o">
        <label class="tsip-rpt-row"><span class="iro">TSORB</span>
          <input type="checkbox" id="tr-rpt-tsorb" disabled tabindex="-1"></label>
      </td>
    </tr>
  </table>

  <p align="center">
    <input type="button" class="bt" id="tsip-run-save" value="Save" accesskey="S" title="Press ALT + S to Save">
    <input type="button" class="bt" id="tsip-run-cancel" value="Cancel" accesskey="C">
    <input type="button" class="bt" id="tsip-run-help" value="Help" accesskey="H">
  </p>
</div>
