<div class="classic-pane b">
  <h3 align="center">FCSA MICS TSIP Parameters</h3>
  <div id="tsip-parm-status" class="classic-status" align="center"></div>
  <div id="tsip-parm-tree" class="classic-tree-host" style="max-height:18rem; overflow:auto;"></div>
  <p align="center">
    <input type="button" class="bt" id="cmdTsipCreateParm" value="Create parameter file">
    <input type="button" class="bt" id="cmdTsipRefresh" value="Refresh">
  </p>
  <table align="center"><tr>
    <td><input type="button" class="bt" id="cmdTsipNewRun" value="New run"></td>
    <td><input type="button" class="bt" id="cmdTsipEditRun" value="Edit run"></td>
    <td><input type="button" class="bt" id="cmdTsipDupRun" value="Dup run"></td>
    <td><input type="button" class="bt" id="cmdTsipDelRun" value="Delete run"></td>
    <td><input type="button" class="bt" id="cmdTsipBatch" value="Run Batch TSIP"></td>
  </tr></table>
</div>
