<div class="classic-pane b">
  <h3 align="center" id="tsip-batch-heading">FCSA MICS Batch TSIP Parameter</h3>
  <div align="center"><h3 id="tsip-batch-name"></h3></div>
  <p align="center" id="tsip-batch-time" class="classic-status"></p>

  <div id="tsip-b0" align="center">
    <br><br>
    <table align="center"><tr>
      <td><input type="button" class="bt" id="cmdRunTsip" value="Batch TSIP" accesskey="B" title="Press ALT + B to Batch TSIP"></td>
      <td><input type="button" class="bt" id="cmdTsipCancel" value="Cancel" accesskey="C" title="Press ALT + C to Cancel"></td>
      <td><input type="button" class="bt" id="cmdTsipHelp" value="Help" accesskey="H" title="Press ALT + H for Help"></td>
    </tr></table>
    <br>
    <table align="center" width="70%" cellpadding="1" id="tsip-batch-note">
      <tr>
        <td width="20%" valign="top"><font color="red">Important Note:</font></td>
        <td width="50%"><font color="red">All <b>TSIP Run Name</b>'s in a parameter file are executed each time the <b>Batch TSIP</b> button is clicked.</font></td>
      </tr>
    </table>
  </div>

  <div id="tsip-b1" align="center" hidden>
    <marquee scrollamount="10" direction="left" behavior="scroll" width="220" height="15">VALIDATING / QUEUING</marquee>
  </div>

  <div id="tsip-b2" align="center">
    <div id="tsip-batch-msg" style="margin-bottom:0.75rem;"></div>
    <div id="tsip-queue-panel" align="center" style="max-width:48rem; margin:0 auto;">
      <b>Queue status</b>
      <p id="tsip-queue-refresh-note" class="tsip-queue-refresh-note"></p>
      <table align="center" id="tsip-queue-table" class="classic-table tsip-queue-table" style="width:100%; margin-top:0.5rem;">
        <thead><tr>
          <th class="o">Job</th><th class="o">Status</th><th class="o">Finish</th>
          <th class="o">Parm</th>
          <th class="o" id="tsip-queue-user-head" hidden>User</th>
          <th class="o">Active</th><th class="o">Queued</th><th class="o">Glance</th>
          <th class="o">Action</th>
        </tr></thead>
        <tbody id="tsip-queue-body"></tbody>
      </table>
    </div>
    <br>
    <table align="center"><tr>
      <td><input type="button" class="bt" id="cmdTsipPoll" value="Refresh Queue"></td>
      <td><input type="button" class="bt" id="cmdTsipReturn" value="Return to Parameter List" accesskey="F"></td>
      <td><input type="button" class="bt" id="cmdTsipClose" value="Close" accesskey="C"></td>
    </tr></table>
  </div>
</div>
