<div class="classic-pane b">
  <h3 align="center" id="tsip-run-heading">FCSA TSIP Run</h3>
  <p align="center">
    Parameter file: <b id="tsip-run-parm"></b>
    <input type="button" class="bt" id="tsip-run-back" value="Cancel" accesskey="C">
  </p>
  <div id="tsip-run-status" class="classic-status" align="center"></div>

  <table align="center" class="classic-form classic-form-wide" width="90%">
    <tr>
      <td class="m">File Type</td>
      <td class="by">
        <label><input type="radio" name="tr-protype-r" value="T" checked> TS</label>
        <label><input type="radio" name="tr-protype-r" value="E"> ES</label>
        <input type="hidden" id="tr-protype" value="T">
      </td>
      <td class="m">Env File Type</td>
      <td class="by">
        <input id="tr-envtype" class="im" size="10" maxlength="20" value="PDF_TS">
        <input type="button" class="bt" value="?" tabindex="-1" data-lookup="TsipEnvFileType" data-field="tr-envtype">
      </td>
    </tr>
    <tr>
      <td class="m">File Name</td>
      <td class="by">
        <input id="tr-proname" class="im" size="16" maxlength="20">
        <input type="button" class="bt" value="?" tabindex="-1" data-lookup="TsipPdfList" data-field="tr-proname">
      </td>
      <td class="o">Env File Name</td>
      <td class="by">
        <input id="tr-envname" class="im" size="16" maxlength="20">
        <input type="button" class="bt" value="?" tabindex="-1" data-lookup="TsipEnvList" data-field="tr-envname">
      </td>
    </tr>
    <tr>
      <td class="o">TSORB Calculation</td>
      <td class="by"><input id="tr-tsorbout" class="im" size="2" maxlength="1" value="N"></td>
      <td class="m">Propagation Loss Model</td>
      <td class="by">
        <input id="tr-spherecalc" class="im" size="2" maxlength="1">
        <input type="button" class="bt" value="?" tabindex="-1" data-lookup="TsipLoss" data-field="tr-spherecalc">
      </td>
    </tr>
    <tr>
      <td class="o">ES Arc Step</td>
      <td class="by"><input id="tr-arc" class="im" size="10"></td>
      <td class="m">Max Freq. Separation</td>
      <td class="by"><input id="tr-fsep" class="im" size="10"></td>
    </tr>
    <tr>
      <td class="o">Coord. Distance</td>
      <td class="by"><input id="tr-coordist" class="im" size="10"></td>
      <td class="m">Analysis Option</td>
      <td class="by">
        <input id="tr-analopt" class="im" size="8" maxlength="4" placeholder="BAND">
        <input type="button" class="bt" value="?" tabindex="-1" data-lookup="TsipOption" data-field="tr-analopt">
      </td>
    </tr>
    <tr>
      <td class="o">Required Margin</td>
      <td class="by"><input id="tr-margin" class="im" size="10"></td>
      <td class="m">Channel Status Codes</td>
      <td class="by">
        <input id="tr-chancodes" class="im" size="16">
        <input type="button" class="bt" value="?" tabindex="-1" data-lookup="TsipChanCode" data-field="tr-chancodes">
      </td>
    </tr>
  </table>

  <div align="center"><b>ENVIRONMENT SELECTION CRITERIA AND REPORTS</b></div>
  <table align="center" class="classic-form classic-form-wide" width="90%">
    <tr>
      <td class="m">Country</td>
      <td class="by">
        <input id="tr-country" class="im" size="4" maxlength="4">
        <input type="button" class="bt" value="?" tabindex="-1" data-lookup="TsipCountry" data-field="tr-country">
      </td>
      <td class="o" rowspan="3" valign="top">Codes</td>
      <td class="by" rowspan="3" valign="top">
        <textarea id="tr-codes" class="im" rows="4" cols="40"></textarea>
        <input type="button" class="bt" value="??" tabindex="-1" data-lookup="TsipCallOper" data-field="tr-codes">
      </td>
    </tr>
    <tr>
      <td class="m">Select Env Sites</td>
      <td class="by">
        <input id="tr-selsites" class="im" size="16">
        <input type="button" class="bt" value="?" tabindex="-1" data-lookup="TsipEnvSites" data-field="tr-selsites">
      </td>
    </tr>
    <tr>
      <td class="rok">TSIP Run Name</td>
      <td class="by"><input id="tr-runname" class="im" size="8" maxlength="16"></td>
    </tr>
    <tr>
      <td class="o">Reports (bitmask)</td>
      <td class="by"><input id="tr-reports" class="im" size="8" value="0"></td>
      <td class="o">Num chan</td>
      <td class="by"><input id="tr-numchan" class="im" size="6"></td>
    </tr>
    <tr>
      <td class="o">Num codes</td>
      <td class="by"><input id="tr-numcodes" class="im" size="6"></td>
      <td class="o">HiLo secs lat</td>
      <td class="by"><input id="tr-hilosecs" class="im" size="4" maxlength="2"></td>
    </tr>
    <tr>
      <td class="o">Culling Margin</td>
      <td class="by"><input id="tr-cullmarg" class="im" size="6"></td>
      <td colspan="2"></td>
    </tr>
  </table>

  <p align="center">
    <input type="button" class="bt" id="tsip-run-save" value="Save" accesskey="S" title="Press ALT + S to Save">
    <input type="button" class="bt" id="tsip-run-cancel" value="Cancel" accesskey="C">
    <input type="button" class="bt" id="tsip-run-help" value="Help" accesskey="H">
  </p>
</div>
